/* Add CSS Styling */
p.odd {
  background-color: lightcoral;
  font-size: 25px;
}
p.cooler {
  font-size: 30px;
}
#num2 {
  color: blue;
  font-size: 50px;
}

#num4 {
  background-color: lightgreen;
  font-size: 35px;
  font-weight: 700;
}
